<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Error 404 ::: Page not found</PageTitle>

        <HeadContent>
            <meta name="robots" content="noindex" />
        </HeadContent>

        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <h1 color="red"> 404</h1> <h4>Error Happened!!!!</h4>
        </LayoutView>
    </NotFound>
    <Navigating>
        <p>Page is loading...</p>
    </Navigating>
</Router>
